body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;}
table {
    width: 300px;
    padding: 5px;
    empty-cells: hide;
    border-spacing: 2px 2px;
    border-collapse: separate;
}
table tr,td {
    border: 4px solid rgb(0, 76, 182);
    color: rgb(0, 179, 255);
}